* {
    margin: 17px;
    padding: 0%;


}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(/Users/rickmartinez/Desktop/bootcamp-UTA/Challenges/UTA-Bootcamp-Challenge1/assets/Loading-pic.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;

}

h1 {
    font-size: 35px;
    color: #191970;
    display: flex;
    padding-top: 30px;

}

nav  {
    display: flex;
    font-size: 22px;
    color: #191970;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
}

.nav-links {
    flex: 1;
    text-align: right;
    @media screen (min-width: 600px) {
        padding: 1 rem 3 rem;
    }

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;

}

.nav-links ul li a {
    color: #191970;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f5f5f5;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}

.nav-links ul li a:hover::after{

    width: 100%;
}

.hero{
    font-size: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    justify-content: space-between;
      
}

.page-wrapper{
    margin: auto;

}

.avatar {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
   margin-bottom: 5%;

}

.personal-links {

    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: #f5f5f5;
    border-radius: 10px;
    
}

.row:hover {

    box-shadow: 0 0 20px 0px;
}
